@font-face {
    font-family: "SpaceGrotesk";
    src: url(./fonts/SpaceGrotesk-Medium.ttf) format(truetype);
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "SpaceGrotesk";
    src: url(./fonts/SpaceGrotesk-Regular.ttf) format(truetype);
    font-style: normal;
    font-weight: 400;
}

